temp
data_for_analysis
/data/raw_data/Dati provinciali (IT1,151_1193_DF_DCCV_TAXDISOCCU1_UNT2020_7,1.0).csv
/data/raw_data/data2estimate1.dta
/data/raw_data/Dati provinciali (IT1,151_914_DF_DCCV_TAXDISOCCU1_8,1.0).csv
/scripts/XX_build_DBs.do
/Manuscript.docx
/data/raw_data/data2estimate.dta
/scripts/RCXX_yFE.do
/scripts/RC01_rob_check_bad_tables_A1&A2.do
/scripts/RC02_poisFE.do
/scripts/RC03_restricted_sample.do
/scripts/RC04_thresholds.do
